*{
    margin: 0;
    padding: 0;
}



body{
  max-width: 100%;
  background-color: black;
}


// FUENTES

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');



// parametros

$celeste: rgb(47, 171, 202);


// generales

a:link, a:visited, a:active, a:hover{
    text-decoration:none !important;
}

a{
  text-decoration: none;
}



// navbar

#navbar{
  width: 100%;
  height: auto !important;
  position: fixed;
  top: 0;
  z-index: 10 !important;
  font-family: 'Patua One', cursive;
  text-shadow: 0 0 0.5rem $celeste;
  .navbar-toggler-icon{
  background-image: url("https://i.postimg.cc/YSwdFJpY/barras-navbar.png") !important;
  }

  .navbar-nav{

    display: flex !important;
    

}


.logoNavbar{
  width: 6rem;
}

background-color: rgb(0, 0, 0, 0.8) !important;
text-transform: uppercase;

a.nav-link{
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  // width: 100% !important;
  margin-left: auto;
  }





.navbar-brand{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}



  .navbar-toggle .icon-bar{
    width: 50px !important;
    height:3px !important;
  }



.navbar-toggler-icon {
    background-image: url(https://i.postimg.cc/YSwdFJpY/barras-navbar.png) !important;
    background-size: 100px  ;

}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

}

// navbar PC

@media only screen and (min-width: 992px) {
  #navbar{
    max-width: 100%;

    .navbar-nav{
        display: flex !important;
        justify-content: flex-end !important;
        max-width: 100% !important; 

    }


    background-color: black !important;
    text-transform: uppercase;


    
    a.nav-link{
        color: rgb(255, 255, 255);
        font-family: 'Bebas Neue', cursive;
        font-size: 1.1em;
        width: auto!important;
        padding-top: 25px;

        }


    .nav-link:hover{
        background-color: white;
        color: black;
    }


    .navbar-brand{
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5em;
        margin-right: 10em;
    }


    .navbar-brand:hover{
        background-color: white;
        color: black;
    }


      .navbar-toggle .icon-bar{
        width: 50px !important;
        height:3px !important;
      }



    .navbar-toggler-icon {
        background-image: url(https://icon-library.com/images/white-hamburger-menu-icon/white-hamburger-menu-icon-24.jpg) !important;
        background-size: 100px  ;
   }
}

}

// fin navbar

// celular

@media only screen and (max-width: 991px) {

    // generales

    .espacioDebajo{
        margin-bottom: 10vh;
      }

      .espacioChicoDebajo{
        margin-bottom: 3vh;
      }
    
      .espacioArriba{
        margin-top: 10vh;
      }
      
      .espacioChicoArriba{
        margin-top: 2vh;
      }

      .disp{
        display: flex;
        justify-content: center;
    }

   


    //HOME

      .imgHome{
        width: 70%;
        position: relative;
        top: 30vh;
      }

      .animate__animated.animate__fadeIn {
        --animate-duration: 5s;
      }


    


      #botonHome{
    position: relative;
    top: 35vh;
   
      }

      

    // FIN HOME


    // prueba video

    #videoprueba{
      box-shadow: 0 0 25px rgb(68, 155, 255);
    }


    // home.html
    

    .carousel{
      max-width: 100% !important;
      transition: transform 20000s ease
    }

    .carouselCategorias{

      display: flex !important;
      justify-content: start;
      padding-left: 1.1% ;
    }


    .carousel-item{
      transition: transform 0.1s ease
    }
    
    .fotoCarouselCategorias{
      width: 40% !important;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 10px;
      transition: transform 20000s ease
    }

   


    .textoCategorias{
      color: rgb(255, 255, 255);
      font-family: 'Patua One', cursive;
      text-shadow: 0 0 0.5rem $celeste;
      margin-left: 1rem;
      font-size: 1.5rem;
      text-align: left;

    }



    // productoras


    .nombreProductora{
      color: rgb(255, 255, 255);
      font-family: 'Patua One', cursive;
      text-shadow: 0 0 0.8rem $celeste;
      font-size: 3rem;
      text-align: center;
    }


    .infoProductora{
      color: rgb(255, 255, 255);
      font-family: 'Patua One', cursive;
      font-size: 1rem;
      text-align: justify;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    .tituloPoster{
      color: rgb(255, 255, 255);
      font-family: 'Patua One', cursive;
      font-size: 1.8rem;
      text-align: center;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    .posterProductora{
      width: 70%;
      box-shadow: 0 0 0.3rem $celeste;
    }

    .descripcionPoster{
      color: rgb(255, 255, 255);
      font-family: 'Patua One', cursive;
      font-size: 0.8rem;
      text-align: center;
    }

    .infoPoster{
      color: rgb(255, 255, 255);
      font-family: 'Patua One', cursive;
      font-size: 1rem;
      text-align: justify;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    .botonPoster{
      color: rgb(255, 255, 255);
      text-align: center;
      background-color: $celeste;
      padding: 15px;
      border-radius: 5px;
      font-family: 'Patua One', cursive;
      font-size: 1.3rem;
      box-shadow: 1px 2px 36px 1px $celeste;
      -webkit-box-shadow: 1px 2px 36px 1px $celeste;
      -moz-box-shadow: 1px 2px 36px 1px $celeste;
      -webkit-text-stroke: 0.5px black;
  }

  .botonPoster:hover{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: $celeste;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Patua One', cursive;
    font-size: 1.3rem;
    box-shadow: 1px 2px 36px 1px $celeste;
    -webkit-box-shadow: 1px 2px 36px 1px $celeste;
    -moz-box-shadow: 1px 2px 36px 1px $celeste;
    -webkit-text-stroke: 0.5px black;
}


.botonPoster:active{
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: $celeste;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Patua One', cursive;
  font-size: 1.3rem;
  box-shadow: 1px 2px 36px 1px $celeste;
  -webkit-box-shadow: 1px 2px 36px 1px $celeste;
  -moz-box-shadow: 1px 2px 36px 1px $celeste;
  -webkit-text-stroke: 0.5px black;
}

.botonPoster:visited{
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: $celeste;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Patua One', cursive;
  font-size: 1.3rem;;
  box-shadow: 1px 2px 36px 1px $celeste;
  -webkit-box-shadow: 1px 2px 36px 1px $celeste;
  -moz-box-shadow: 1px 2px 36px 1px $celeste;
  -webkit-text-stroke: 0.5px black;
}






    // fin productoras



    // contenido

    .tituloContenido{
      color: rgb(255, 255, 255);
      font-family: 'Patua One', cursive;
      font-size: 2.5rem;
      text-align: center;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      text-shadow: 0 0 1rem $celeste;
    }

    .colaboracion{
      color: rgb(255, 255, 255);
      font-family: 'Patua One', cursive;
      font-size: 1.5rem;
      text-align: center;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }


    .mp{
      width: 10rem;
    }

    // fin contenido


    // creadores.html

    .tituloPag{
      color: rgb(255, 255, 255);
      font-family: 'Patua One', cursive;
      text-shadow: 0 0 0.8rem $celeste;
      font-size: 3rem;
      text-align: center;
    }


    .infoPag{
     
        color: rgb(255, 255, 255);
        font-family: 'Patua One', cursive;
        font-size: 1rem;
        text-align: center;
    
    }


    .creadores{
      color: rgb(255, 255, 255);
      font-family: 'Patua One', cursive;
      font-size: 2.5rem;
      text-align: center;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      text-shadow: 0 0 1rem $celeste;
    }
    // fin creadores.html


    // panel interno

    table{
      max-width: 100% !important;
      color: white;
      font-family: 'Patua One', cursive;
      font-size: 1rem;
      text-align: center;
      border: solid white 3px;
      margin-left: 1rem !important;
      margin-right: 1rem !important;
        box-shadow: 1px 2px 36px 1px $celeste;
  -webkit-box-shadow: 1px 2px 36px 1px $celeste;
  -moz-box-shadow: 1px 2px 36px 1px $celeste;
      th{
        font-size: 1.1rem;
        padding: 10px;
        border: solid white 3px;
        max-width: 33%;
        
      }

      td{
              border: solid white 3px;
              max-width: 33%;
      }
    }

    // panel interno


    // para videos y podcasts

    audio{
        width: 80%;
    }

    .swal2-popup{
      font-family: 'Patua One', cursive !important;
      border: solid white 3px !important;
    }
    

    .swal2-confirm{
      background-color: black !important;
    }
    
    .swal2-styled{
      background-color: black!important;
      color: $celeste !important;

    }


    // fin para videos y podcasts



    }
    // fin celular



    //  PC y TABLET

@media only screen and (min-width: 992px) {


    // generales

    .espacioDebajo{
        margin-bottom: 10vh;
      }

      .espacioChicoDebajo{
        margin-bottom: 3vh;
      }
    
      .espacioArriba{
        margin-top: 10vh;
      }
      
      .espacioChicoArriba{
        margin-top: 2vh;
      }


  
      

    }