@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  background-color: black;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none !important;
}

a {
  text-decoration: none;
}

#navbar {
  width: 100%;
  height: auto !important;
  position: fixed;
  top: 0;
  z-index: 10 !important;
  font-family: "Patua One", cursive;
  text-shadow: 0 0 0.5rem rgb(47, 171, 202);
  background-color: rgba(0, 0, 0, 0.8) !important;
  text-transform: uppercase;
}
#navbar .navbar-toggler-icon {
  background-image: url("https://i.postimg.cc/YSwdFJpY/barras-navbar.png") !important;
}
#navbar .navbar-nav {
  display: flex !important;
}
#navbar .logoNavbar {
  width: 8rem;
}
#navbar a.nav-link {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  margin-left: auto;
}
#navbar .navbar-brand {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5em;
}
#navbar .navbar-toggle .icon-bar {
  width: 50px !important;
  height: 3px !important;
}
#navbar .navbar-toggler-icon {
  background-image: url(https://i.postimg.cc/YSwdFJpY/barras-navbar.png) !important;
  background-size: 100px;
}
#navbar .navbar-toggler,
#navbar .navbar-toggler:focus,
#navbar .navbar-toggler:active,
#navbar .navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

@media only screen and (min-width: 992px) {
  #navbar {
    max-width: 100%;
    background-color: black !important;
    text-transform: uppercase;
  }
  #navbar .navbar-nav {
    display: flex !important;
    justify-content: flex-end !important;
    max-width: 100% !important;
  }
  #navbar a.nav-link {
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", cursive;
    font-size: 1.1em;
    width: auto !important;
    padding-top: 25px;
  }
  #navbar .nav-link:hover {
    background-color: white;
    color: black;
  }
  #navbar .navbar-brand {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5em;
    margin-right: 10em;
  }
  #navbar .navbar-brand:hover {
    background-color: white;
    color: black;
  }
  #navbar .navbar-toggle .icon-bar {
    width: 50px !important;
    height: 3px !important;
  }
  #navbar .navbar-toggler-icon {
    background-image: url(https://icon-library.com/images/white-hamburger-menu-icon/white-hamburger-menu-icon-24.jpg) !important;
    background-size: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .espacioDebajo {
    margin-bottom: 10vh;
  }

  .espacioChicoDebajo {
    margin-bottom: 3vh;
  }

  .espacioArriba {
    margin-top: 10vh;
  }

  .espacioChicoArriba {
    margin-top: 2vh;
  }

  .disp {
    display: flex;
    justify-content: center;
  }

  .imgHome {
    width: 70%;
    position: relative;
    top: 30vh;
  }

  .animate__animated.animate__fadeIn {
    --animate-duration: 5s;
  }

  #botonHome {
    position: relative;
    top: 35vh;
  }

  #videoprueba {
    box-shadow: 0 0 25px rgb(68, 155, 255);
  }

  .carousel {
    max-width: 100% !important;
    transition: transform 20000s ease;
  }

  .carouselCategorias {
    display: flex !important;
    justify-content: start;
    padding-left: 1.1%;
  }

  .carousel-item {
    transition: transform 0.1s ease;
  }

  .fotoCarouselCategorias {
    width: 40% !important;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    transition: transform 20000s ease;
  }

  .textoCategorias {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    text-shadow: 0 0 0.5rem rgb(47, 171, 202);
    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: left;
  }

  .nombreProductora {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    text-shadow: 0 0 0.8rem rgb(47, 171, 202);
    font-size: 3rem;
    text-align: center;
  }

  .infoProductora {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    font-size: 1rem;
    text-align: justify;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .tituloPoster {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    font-size: 1.8rem;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .posterProductora {
    width: 70%;
    box-shadow: 0 0 0.3rem rgb(47, 171, 202);
  }

  .descripcionPoster {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    font-size: 0.8rem;
    text-align: center;
  }

  .infoPoster {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    font-size: 1rem;
    text-align: justify;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .botonPoster {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(47, 171, 202);
    padding: 15px;
    border-radius: 5px;
    font-family: "Patua One", cursive;
    font-size: 1.3rem;
    box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -webkit-box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -moz-box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -webkit-text-stroke: 0.5px black;
  }

  .botonPoster:hover {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(47, 171, 202);
    padding: 15px;
    border-radius: 5px;
    font-family: "Patua One", cursive;
    font-size: 1.3rem;
    box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -webkit-box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -moz-box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -webkit-text-stroke: 0.5px black;
  }

  .botonPoster:active {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(47, 171, 202);
    padding: 15px;
    border-radius: 5px;
    font-family: "Patua One", cursive;
    font-size: 1.3rem;
    box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -webkit-box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -moz-box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -webkit-text-stroke: 0.5px black;
  }

  .botonPoster:visited {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(47, 171, 202);
    padding: 15px;
    border-radius: 5px;
    font-family: "Patua One", cursive;
    font-size: 1.3rem;
    box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -webkit-box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -moz-box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -webkit-text-stroke: 0.5px black;
  }

  .tituloContenido {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    font-size: 2.5rem;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-shadow: 0 0 1rem rgb(47, 171, 202);
  }

  .colaboracion {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .mp {
    width: 10rem;
  }

  .tituloPag {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    text-shadow: 0 0 0.8rem rgb(47, 171, 202);
    font-size: 3rem;
    text-align: center;
  }

  .infoPag {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    font-size: 1rem;
    text-align: center;
  }

  .creadores {
    color: rgb(255, 255, 255);
    font-family: "Patua One", cursive;
    font-size: 2.5rem;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-shadow: 0 0 1rem rgb(47, 171, 202);
  }

  table {
    max-width: 100% !important;
    color: white;
    font-family: "Patua One", cursive;
    font-size: 1rem;
    text-align: center;
    border: solid white 3px;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -webkit-box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
    -moz-box-shadow: 1px 2px 36px 1px rgb(47, 171, 202);
  }
  table th {
    font-size: 1.1rem;
    padding: 10px;
    border: solid white 3px;
    max-width: 33%;
  }
  table td {
    border: solid white 3px;
    max-width: 33%;
  }

  audio {
    width: 80%;
  }

  .swal2-popup {
    font-family: "Patua One", cursive !important;
    border: solid white 3px !important;
  }

  .swal2-confirm {
    background-color: black !important;
  }

  .swal2-styled {
    background-color: black !important;
    color: rgb(47, 171, 202) !important;
  }
}
@media only screen and (min-width: 992px) {
  .espacioDebajo {
    margin-bottom: 10vh;
  }

  .espacioChicoDebajo {
    margin-bottom: 3vh;
  }

  .espacioArriba {
    margin-top: 10vh;
  }

  .espacioChicoArriba {
    margin-top: 2vh;
  }
}
.hola {
  color: blue;
}

/*# sourceMappingURL=style.css.map */
